accelerate
colorama
datasets
evaluate
gymnasium
ipython
jupyterlab
jupyterthemes
matplotlib
nltk
numpy
openai
pandas
rouge-score
scikit-learn
scipy
sentence-transformers
simple-term-menu
tensorboard
tokenizers
torch
tqdm
transformers
