colorama
datasets
evaluate
gymnasium
ipython
jupyterlab
jupyterthemes
matplotlib
nltk
numpy
openai
pandas
pyzmq==25.1.1
rouge-score
scikit-learn
scipy
sentence-transformers
simple-term-menu
tensorboard
tokenizers
torch
tqdm
transformers
